# Dependencies
**/node_modules

# Build
**/dist
**/build

# Logs
**/logs

# Environment
**/.env
**/.env.*

# Coverage
**/coverage

# Lock Files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
.DS_Store